@import url('https://fonts.googleapis.com/css?family=Rufina:400,700&display=swap');
body{
  margin: 0;
  font-family:Rufina;
  transition: 0.3s;
  
}
body.active{
  background: #0f0f0f;
  color: white;
}
.progress{
  position: fixed;
  height: 7px;
  background-color: #26de81;
  z-index: 10;
}
#name{
  caret-color: #26de81;
  outline: 0px solid transparent;
  
}
.editname i{
  transition: ease-in-out 0.3s;
}
.editname i:hover{
  color: #26de81;
}
.landing{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 100vh;
}
.land{
  height: 100%;
  display:flex;
  flex-basis: 50%;
  justify-content: center;
  align-items: center;
}

.left:before{
  display:block;
  position:absolute;
  content:'';
  background-color:white;
  width:150%;
  height:30px;
  top:0;
  transition: 0.3s;
}

.left:after{
  display:block;
  position:absolute;
  content:'';
  background-color:white;
  width:40px;
  height:80px;
  left:50%;
  top:0;
  z-index:1;
  transition: 0.3s;
}
.left.active:before,.left.active:after{
  background-color:#0f0f0f;
}
.right{
  background: url("https://i.ibb.co/FmYqmpL/me.jpg") no-repeat center;
  background-size: cover;
}

.right:before{
  display:block;
  position:absolute;
  content:'';
  background-color:#26de81;
  width:40px;
  height:100vh;
  left:50%;
}


.right:after{
  display:block;
  position:absolute;
  content:'';
  background-color:#26de81;
  width:50%;
  height:40px;
  bottom:0;
  
}
.whiteright{
  display:block;
  position:absolute;
  content:'';
  background-color:white;
  width:30px;
  height:100vh;
  bottom:0;
  right:0;
  z-index:1;
  transition: 0.3s;
}
.whiterightcorner{
  display:block;
  position:absolute;
  content:'';
  background-color:white;
  width:80px;
  height:40px;
  bottom:0;
  right:0;
  z-index:1;
  transition: 0.3s;
}
.whiteright.active,.whiterightcorner.active{
  background-color: #0f0f0f;
}

.textcontainer{
  padding:30px;
  z-index: 5;
}
.editname{
  display: flex;
}
.editname i{
  line-height: 100px;
}
/*   about     */
.about{
  height:200vh;
  display:flex;
}
.aboutme{
  width:50%;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  margin:0!important;
}
.aboutpages{
  width:50%;
}

.aboutpages div{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  line-height:50px;
  align-items:center;
}
.skill{
  font-size:18px;
  font-weight:bold;
}
.edum{
  list-style-type:none;
 border: 2px solid ;
  background-color:white;
  color: black;
  text-align:center;
  position:relative;
  font-weight:bold;
  width:80%;
  margin: 0 auto;
  
}
.edum:after{
    content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		right: 10px;
		top: 10px;
		 border: 2px solid white ;
  background-color:#26de81;
    z-index: -10;
}
.edus{
  list-style-type:none;
   z-index: 1;
  text-align:center;
  font-size:14.5px;
  margin-right:30px;
  line-height:25px;
  margin-top:10px;
}
.aboutpages div>p{
  width:80%;
  line-height:40px;
  
}
.aboutpages div:nth-child(1){
  border: 2px solid;
  margin-right:30px;
}
.aboutpages div:nth-child(2){
  border: 2px solid ;
  margin-top:40px;
  margin-right:30px;
}

.skilltable{
  margin:0!important;
  border: 0!important;
  width: 50%;
  justify-content: flex-start!important;
  
}
.addtable{
  margin:0!important;
  border: 0!important;
  justify-content: flex-end!important;
  padding-bottom: 40%;
  width: 100%;
  height: 100%!important;
}
.addtable button{
  font-size: 1em;
  font-family:Rufina;
  font-weight: bold;
  margin-top: 20px;
  padding: 15px 30px 15px 30px;
  border:2px solid black;
  background: white;
  cursor: pointer;
  transition: all 0.27s ease;
  position: relative;
}
.addtable button:hover{
  background-color: #26de81;
  border:2px solid white;
  color: white;
}
.addtable input{
  border:2px solid black;
  padding: 8px;
  width:90%;
  font-size: 1em;
  font-family:Rufina;
  caret-color: #26de81;

}
.addtable button:after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  right: 10px;
  top: 10px;
  background: #26de81;
  z-index: -1;
}

/*-------contactinfo---------*/
.contact ul li{
  list-style-type: none;
  line-height:30px;
  
}
.contact h1{
  padding-left:40px;
}
.contact{
  padding-right:30px;
  background-color:white;
 border:2px solid #26de81;
  position: relative;
  color: black;
}
.contact:after{
    content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		right: 20px;
		top: 20px;
		background: #26de81;
    z-index: -1;
}
/*  toggle */
.darkoption{
  display: table;
  justify-content: center;
  margin: 0 auto;
  padding: 50px;
 
}
.toggle{
  background:white;
  border: 2px solid black;
  width:70px;
  height: 35px;
  cursor: pointer;
  border-radius: 20px;
  transition: 0.5s;
  z-index: 4;
}
.toggle:before{
  position: absolute;
  content: '';
  margin-top: 2px;
  margin-left: 2px;
  width: 30px;
  height: 30px;
  background: #26de81;
  border-radius: 50%;
  z-index: 5;
  transition:0.3s;
}
.toggle.active{
  background: #26de81;
}
.toggle.active:before{
  margin-left: 38px;
  background: white;
}







/*animationbg*/
.box1 {
  z-index:-5;
      height: 25px;
      width: 25px;
      position: fixed;
      top: 30%;
      left: 4%;
      border: 1.5px solid #ffbe76;
      border-radius: 50%;
      animation: animaterotatation 50s linear infinite;
      transition: all 0.3s ease-out;


}
.hexagon{
  z-index:-5;
  position: fixed;
  top: 5%;
  left: 18%;
  transform: rotate(10deg);
  animation: animaterotatation 30s linear infinite;
  transition: all 0.3s ease-out;
}

.box2 {
  z-index:-5;
      height: 50px;
      width: 50px;
      position: fixed;
      top: 50%;
      left: 60%;
      border: 1.5px solid #a29bfe ;
      transform: rotate(50deg);
      border-radius: 3px;
      animation: animaterotatation 50s linear infinite;
      transition: all 0.3s ease-out;
}

.triangle {
  z-index:-5;
      position: fixed;
      top: 5%;
      left: 80%;
      transform: rotate(10deg);
      animation: animaterotatation 30s linear infinite;
      transition: all 0.3s ease-out;
}
.waves{
  z-index:-5;
  top: 55%;
  left: 30%;
  position: fixed;
  animation: animaterotatation 35s linear infinite;
  transition: all 0.3s ease-out;
}
.box4 {
  z-index:-5;
  height: 30px;
  width: 30px;
  position: fixed;
  top: 78%;
  left: 20%;
  border: 1px solid lightgreen;
  transform: rotate(80deg);
  border-radius: 3px;
  animation: animaterotatation 35s linear infinite;
  transition: all 0.3s ease-out;
}

.box5 {
  z-index:-5;
  height: 20px;
  width: 20px;
  position: fixed;
  top: 88%;
  left: 75%;
  border: 1px solid #ff7979;
  border-radius: 50%;
  animation: animaterotatation 60s linear infinite;
  transition: all 0.3s ease-out;

}
@keyframes animaterotatation {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  50% {
      transform: translateY(100px) rotate(180deg);
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotate(360deg);
      opacity: 1;
  }
}

/*------------*/

 @media screen and (min-width: 768px){
          .break { display: none; }
          .edus{line-height:60px;
             margin-top:0;}
          .darkoption{
            display: flex;
            justify-content: space-between;
          }
  }